.main {
  width: 100%;
  /* background-color: red; */
}

table {
    /* table-layout: fixed; */
    border-collapse: collapse;  
    font-size: 14px;
    font-family: sans-serif;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
    /* min-width: 100%; */
    width: max-content;
    min-width: 100%;
    margin: auto;
  }

  .scroll-wrapper {
    overflow-x: scroll;
  }

  .outer-wrapper {
    margin: 0 20px 20px 20px;
    width: 100%;
    margin: auto; 
    /* border: 1px solid black; */
  }

.header-section {
  /* border: 1px solid black; */
  background-color: #1976d2;
  color: white;
  min-height: 30px;
  width: 100%;
  margin: auto;
  border-bottom: none;
}

.header-div {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid white;
  align-items: center;
  gap: 10px;
}

.footer-section {
  /* border: 1px solid black; */
  height: 30px;
  width: 100%;
  margin: auto; 
}

.footer-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  padding: 10px; 
  background-color: #ccc;
}

  th, td {
    padding: 10px 15px;   
    /* resize: horizontal; */
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
    border: 1px solid #aaa;
  }

  table thead tr{
    background-color: #1976d2;
    color: #ffffff;
    text-align: center;
  }
  
  table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
 
  tbody>tr:hover td{
    background-color: #8aa0d8;
    color: white
   }
    
  table tbody tr:nth-of-type(even) {
    background-color: #f6f6f6;
  }
  table tbody tr:last-of-type {
    border-bottom: 2px solid #4bbd7f;
  }
 
  input, select {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
  }

 .searchTr { 
  text-align: center;
 }

 .searchbar { 
  background-color: rgb(255, 255, 255, 0.2); 
  color: white;
  padding: 8px 5px;
  font-weight: bolder; 
 }

 .searchbar:focus{
  outline: none;
 }

 .searchbar::placeholder{
  color: white;
 }

 .paginate-span:hover {
  cursor: pointer;
  border-radius: 50%;
  border: none;
  color: #dddddd;
 } 